@import url("https://fonts.googleapis.com/css?family=Changa+One");
* {
    box-sizing: border-box;
}

body {

}

h1,.h1:before {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(rgba(96, 236, 173, 0.14) 0%, #ECE4B7 54%, rgba(5,14,16,0.56), rgba(5,14,16,0.56));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: splitLeft 5s infinite;
}
h1,.h1:after {
    content: attr(data-heading);
    position: absolute;
    color: rgba(5,14,16,0.56);
    top: 0;
    left: 0;
    max-height: 24%;
    overflow: hidden;
    transform: translateX(50%);
    animation: splitRight 5s infinite;
}

@keyframes splitRight {
    0% {
        transform: translate(0);
    }
    15% {
        transform: translate(50%, 0);
    }
    30% {
        transform: translate(50%, 50%);
    }
    45% {
        transform: translate(-50%, 50%);
    }
    60% {
        transform: translate(-50%, 0);
    }
    75% {
        transform: translate(0);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes splitLeft {
    0% {
        transform: translate(0);
    }
    15% {
        transform: translate(-50%, 0);
    }
    30% {
        transform: translate(-50%, -50%);
    }
    45% {
        transform: translate(50%, -50%);
    }
    60% {
        transform: translate(50%, 0);
    }
    75% {
        transform: translate(0);
    }
    100% {
        transform: translate(0);
    }
}

body {
    font-family:'Gloria Hallelujah', cursive;
    font-size: 15px;
    line-height: 1.42857143;
    color: seagreen;
   /* background-color: #222222;*/
}

h1,.h1 {
     font-size: 39px;
     font-family: 'Gloria Hallelujah', cursive;;

     font-family: 'Gloria Hallelujah', cursive;
     margin: 0 auto;
     background-color: #ECE4B7;
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-20%, -20%);

     font-family: 'Changa One';
     font-size: 4em;
     margin: 0;
     padding: 0;
     color: transparent;
     position: relative;
     text-transform: uppercase;
     letter-spacing: 1px;

 }

navbar-fixed-top {
    background: rgba(5,14,16,0.56);
}

header h1 {
    margin: 0;
    color: rgba(66, 235, 255, 0.1);
    line-height: 70px;
    text-align: center;
    background-color: #1BA044;
    font-family: 'Pacifico', cursive;
}


 /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 2px;
    border: #32404d;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    background-color: rgba(0, 137, 102, 0.76);
    text-align: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 2000px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: rgba(37, 70, 45, 0.69);
    height: 100%;
    font-size: 22px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #135538;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}


.navbar-inverse .navbar-nav>li>a {
    color: #9d9630;
    font-size: 30px;
}

a {
    color: #b77143;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    /*color: #7f5c28;*/
    color: rgba(37, 70, 45, 0.69);;
    background-color: transparent;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0; left: auto;
    z-index: 1030; }

a:hover,
a:focus {
    color: #357c49;
    text-decoration: underline;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}